/*page*/
*{margin: 0; padding: 0; box-sizing: border-box;}

/*wrap*/
#wrap {width: 300px; height: 800px; border: 1px solid black; margin: 0 auto;}

/*header*/
.dropdown {width: 300px; height: 50px; margin: 0 auto;}
.dropdown > li {width: 100px; height: 50px; overflow: hidden; float: left; line-height: 50px; text-align: center; transition: 1s;}
.dropdown > li:hover {height: auto;}